[submodule "enyo"]
	path = enyo
	url = ../../enyojs/enyo.git
[submodule "lib/onyx"]
	path = lib/onyx
	url = ../../enyojs/onyx.git
[submodule "lib/layout"]
	path = lib/layout
	url = ../../enyojs/layout.git
[submodule "lib/chert"]
	path = lib/chert
	url = git@github.com:enyojs/chert.git
